.panel {
  font-size: 2rem;
  color: var(--color-font-primary);
  background-color: var(--color-background);
  width: 36rem;
  height: calc(100vh - 6rem);
  padding: 0 1.6rem;
  margin-left: 100%;
  position: absolute;
  top: 60px;
  transform: translate(0);
  transition: all 0.5s;
  z-index: 2;
}

.openPanel {
  right: 0;
}

.panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel__title {
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
}

.panel__title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-top: 3.6rem;
}

.panel__closeBtn {
  margin-top: 3.6rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.panel__info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 0.8rem;

  p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    color: var(--color-font-secondary);
  }
}

.panel__actions {
  display: flex;
  gap: 0.2rem;
  margin-top: 2rem;

  button {
    font-weight: 700;
    line-height: 2.4rem;
    padding: 0.6rem 2.4rem;
    background-color: var(--color-background-light);

    &.active {
      background-color: var(--color-accent);
    }
  }
}

.metrics {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2.2rem;
  column-gap: 2rem;
}

.metric {
  background-color: var(--color-background-light);
  padding: 2rem;
  padding-bottom: 1rem;
  width: 15.4rem;
  border-radius: 3px;
}

.metric__title {
  text-align: center;
  h2 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1rem;
    margin-top: 0.2rem;
    color: var(--color-font-light);
  }
}

.metric__rangeInvisible {
  visibility: hidden;
}

.center {
  text-align: center;
}

.deleteDevice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2.3rem;
  span {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0.15px;
    color: var(--color-font-primary);
  }
}
