.deviceCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-background-light);
  width: 100%;
  height: 7rem;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0px 10px 20px 0px var(--color-primary-light);
  cursor: pointer;
}
.deviceCard__icon {
  margin-right: 2rem;
  position: relative;
}
.deviceCard__circle {
  background-color: var(--color-accent);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 100%;
}
.deviceCard__icon > svg {
  position: absolute;
  display: inline-block;
  margin-left: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.deviceCard__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.deviceCard__heading {
  font-size: 1.4rem;
  font-weight: 700;
}
.deviceCard__address {
  font-size: 1.2rem;
  color: var(--color-font-light);
}
